<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/styles.css">
    <title>D-produtividade</title>
</head>
<body class="bg-dark">
    <%- include('partials/bootstrap') %>
    <%- include('partials/header')%>
    <div class="container mt-5 text-center">
        <h1 class="text-white text-center mb-2">Nova Lista de Tarefas</h1>
        <form action="/app/nova-lista" method="post" class="mb-3">
            <div class="list-group-item d-flex align-items-end justify-content-between py-2">
                <input type="text" class="form-control" name="title" placeholder="Digite o título da lista..."/>
                <button class="btn-list mx-2 mt-1" type="submit">Criar</button>
            </div>
        </form>
        <hr class="separator"/>
        <a href="/app" class="btn btn-danger">Voltar</a>
    </div>
    <%- include('partials/footer')%>
</body>
</html>