
<footer>
    <nav class="fixed-bottom bg-body-secondary text-dark text-center p-2 bg-header">
    <div class="container-fluid">
        <p class="navbar-brand">&copy; 2025 Task Manager</p>
    </div>
    </nav>
</footer>
